
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    
        <div style=" width: 100%;display: flex;justify-content: center;">
            <img  src="https://images.groovetech.io/98k9OyvDl-fcv9tguNP51Yv2Pc0OIRoBd38CytFkyBk/rs:fit:0:0:0/g:no:0:0/c:0:0/aHR0cHM6Ly9pbWFnZXMuZ3Jvb3ZldGVjaC5pby8xaWdqNEVKWnJYZ0U5dFY5V2trQkZJcl9qNzB2R1BrZlQ4MkRRU1RVS1hRL3JzOmZvcmNlOjUwMDoyNzM6MS9nOm5vd2U6MDoxMTMvYzo1MDA6MjczL2FIUjBjSE02THk5aGMzTmxkSE11WjNKdmIzWmxZWEJ3Y3k1amIyMHZhVzFoWjJWekx6VmxZVFl3TXpVMU1tSXlNMlEzTUdOaE1tUXpaVEJtWkM4eE5qZzJOell3TVRJMFgxTjViMjVTWlcxcGRDNXdibWMud2VicA.webp"  height="100px" width="auto">  
        </div>   

        <h3 style="text-align: center; color: rgb(8, 8, 92);font-size: 33px;">
            {{sub}}
        </h3>
        <hr>
        <p style="text-align: center; color: grey;">
            {{message}}
        </p>
        <div  style="width: 100%;display: flex;justify-content: center;" >
            <div style="background-color: rgb(200, 200, 255); padding: 5px;">
            
                <div>
                    <div>
                        <h3>
                            Transfer Details
                        </h3>
                    
                    </div>
                    
                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            You Send ---
                        </p>

                        <p>
                            {{trans.sent}} {{trans.sending_currency.currecy_sign}}
                        </p>

                    </div>

                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Total Fee ---
                        </p>

                        <p class="text-secondary">
                            {{trans.fee}} {{trans.sending_currency.currecy_sign}}
                        </p>
                        
                    </div>

                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Amount after converting --
                        </p>

                        <p class="text-secondary">
                            {{trans.received}} {{trans.receiving_currency.currecy_sign}}
                        </p>
                        
                    </div>

                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Conversion Rate ---
                        </p>

                        <p class="text-secondary">
                        {{trans.converting_rate}}
                        </p>
                        
                    </div>

                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Other get ---
                        </p>

                        <p>
                            {{trans.received}} {{trans.receiving_currency.currecy_sign}}
                        </p>
                        
                    </div>
                    <h3class="mt-2">
                        <i class="fa fa-bank"></i>
                        Bank Details
                    </h3>
                    <hr>


                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Name ---
                        </p>

                        <p>
                            {{trans.recipient.first_name}} {{trans.recipient.last_name}}
                        </p>
                        
                    </div>
                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Bank Name ---
                        </p>

                        <p class="text-secondary">
                            {{trans.bank.bank_name}}
                        </p>
                        
                    </div>
                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Account Number ---
                        </p>

                        <p class="text-secondary">
                            {{trans.bank.account_number}}
                        </p>
                        
                    </div>
                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Account Name ---
                        </p>

                        <p class="text-secondary">
                            {{trans.bank.account_name}}
                        </p>
                        
                    </div>
                    <div style="display:flex; justify-content: space-between;">
                        <p class="text-secondary">
                            Branch ---
                        </p>

                        <p class="text-secondary">
                            {{trans.bank.branch}}
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bottom-bar">
            <div class="mt-3" id="booddo" style="margin-top:7px;background-color: rgb(5, 5, 77); color: white; padding: 5px;"> 
            
                <p class="m-0 mt-2 text-light">
                    <i class="fa fa-phone"></i> {{site.number_one}} {% if site.number_two  %}
                    , {{site.number_two}}
                    
                    {% endif %}
                </p>
                <p class="m-0 mt-2 text-light">
                    <i class="fa fa-envelopes-bulk"></i> {{site.email}} 
                </p>
                <p class="m-0 mt-2 text-light">
                    <i class="fa fa-location-pin"></i> {{site.address}} 
                </p>
                
            </div>

            
        </div>
    
        
    </div>

</body>
</html>
    

