
{% extends 'homepage/index.html' %}
{% load static %}

{% block title %}
Application Blocked
{% endblock title %}


{% block inside %}
    <div class="container-fluid d-flex">
        <div class="row w-100">
            <div class="mt-1 p-2 text-center">
                <span class="breadcum-front">
                    <i class="fa fa-arrow-alt-circle-right"></i>
                    <a href="{%url 'homepage:homepage'%}">
                        Homepage
                    </a>/
                    <a href="{%url 'homepage:login'%}">
                        Login
                    </a>/ Account Banned
                    
                </span>
            </div>
            <div class="col-11 col-lg-7 m-auto mt-4">
                <div class="row p-0 m-0 p-2 mt-2" id="login-card">
                    <div class="col-lg-6 col-md-6 col-12 p-0 m-auto text-center" >
                        <img src="{%static 'resources/ban.webp'%}" alt="" width="80%" height="auto">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-0 m-0 mt-2 m-auto">
                        <h2 class="text-primary p-2 my-auto">
                            We are sorry to inform you that
                        </h2> 
                        <h2 class="text-center">
                            Application is blocked on your region
                       </h2>
                    </div>
                   
                </div>
                
            </div>
           

        </div>
    </div>
{% endblock inside %}
    