{% extends 'homepage/index.html' %}


{% block title %}
    Countries {{site.title}}
{% endblock title %}
    
{% block inside %}
<div class="row m-0" id="topbarpage">
    <div class="d-flex my-auto">
        
        <h2 class="head-para">
            <a href="{%url 'homepage:homepage'%}">
                Homepage
            </a>
             
        </h2>
      
        <p class="head-para">
            <i class="fa fa-arrow-alt-circle-right"></i>
        </p>
        <h2 class="head-para">
            Country
        </h2>
       
    </div>
   
</div>
<div class="container bg-white m-0 pt-5 pb-5 m-auto mt-3">
    
    <h5 class="head-home text-center">
        Send money across the country
    </h5>
    <div class="row m-0 pb-4">
        {% for i in country  %}
            <div class="col-12 col-lg-6 mt-4">
                <div class="countryBox d-flex justify-content-between">
                    <img src="{{i.flag_img.url}}" alt="">

                    <p class="my-auto pe-2 p-3">
                        {{i.name}}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
  
        
</div>
{% endblock inside %}
    