{% extends 'homepage/index.html' %}


{% block title %}
    Currency XRemit
{% endblock title %}
    
{% block inside %}
<div class="row bg-white m-0 pt-5 pb-5">
    <div class="mt-3 mb-3 text-center">
        <span class="breadcum-front text-light">
            <i class="fa fa-arrow-alt-circle-right"></i>
            <a href="{%url 'homepage:homepage'%}">
                Homepage
            </a>/
            Currency
        </span>
    </div>

    <div class="col-11 col-lg-4 mt-3 m-auto" >
        <div  class="p-3 box" >
            <h5 class="text-center">
                HOW MUCH YOU WANT TO TRANSFER?
            </h5>
            <p class="text-danger" id="infoerror">
                
            </p>
            <div class="currecyBox mt-2">
                <div class="left-currency">
                    <span class="text-secondary sendMoneyText p-2">You Send</span>
                    <input class="ps-2" type="text" name="sendingMoney" id="sendingMoney" placeholder="1000" onkeyup="checkCurrency();">
                </div>

                <div class="dropdown">
                    <a class="right-currency my-auto" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" >
                        <img id="sending_currency_img" class="my-auto" src="{{default.country.flag_img.url}}">
                        <small id="sending_currency_sign"   class="my-auto">{{default.currecy_sign}}</small>
                        <i class="fa fa-caret-down p-1 my-auto"></i>
                    </a>
                    
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for i in currency %}
                            <div class="right-currency-drop mb-2 p-1" onclick="changeState('{{i.id}}', '{{i.country.flag_img}}' , '{{i.currecy_sign}}');">
                                <img class="my-auto" src="{{i.country.flag_img.url}}">
                                <small class="my-auto">{{i.currecy_sign}}</small>
                            </div>

                        {% endfor %}
                    </ul>
                    
                    
                
                </div>
                    
            </div>

            <div class="ps-3 pe-3 mt-2 mb-2">
                <p class="d-flex justify-content-between">
                    <span id ="fee">
                        <b>
                            {{default.conversion_rate}} {{default.currecy_sign}} 
                        </b>
                    </span>
                    <span>
                        Total Fees
                    </span>
                </p>

                <p class="d-flex justify-content-between">
                    <span id ="converting_amt">
                        <b>
                            0 {{default.currecy_sign}} 
                        </b>
                    </span>
                    <span>
                        Amout we'll convert
                    </span>
                </p>
                <p class="d-flex justify-content-between">
                    <span id="rate">
                        <b>
                            {{default.conversion_rate}} 
                        </b>
                    </span>
                    <span>
                        Conversion rate
                    </span>
                </p>
            </div>

            <div class="currecyBox">
                <div class="left-currency">
                    <span class="text-success sendMoneyText p-2">Receiptions gets</span>
                    <input class="ps-2" type="text" name="gets" id="gets" placeholder="84000" disabled>
                </div>
                
                <div class="dropdown">
                    <a class="right-currency my-auto" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="recv_currency_img" class="my-auto" src="{{default.country.flag_img.url}}">
                        <small id="recv_currency_sign" class="my-auto">{{default.currecy_sign}}</small>
                        <i class="fa fa-caret-down p-1 my-auto"></i>
                    </a>
                    
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for i in currency %}
                            <div class="right-currency-drop mb-2 p-1" onclick="changeStateTwo('{{i.id}}', '{{i.country.flag_img}}' , '{{i.currecy_sign}}');">
                                <img class="my-auto" src="{{i.country.flag_img.url}}">
                                <small class="my-auto">{{i.currecy_sign}}</small>
                            </div>

                        {% endfor %}
                    </ul>
                    
                    
                
                </div>

            </div>

            <p class="text-success p-0 m-0 mt-3">
                Your money will arived by <b>Jan 10</b>
            </p>
            <small>
                By sending money you accept our 
                <a href="http://">
                    terms and condition
                </a>
            </small>
            <button type="button" class="btn btn-primary p-2 mt-3 w-100" id="procees_two">
                Procced
            </button>
        </div>
    </div>

    <h3 class="head-home text-center mt-3">
        Currencies Xremit covert for you
    </h3>

    {% for i in currency  %}
    <div class="col-lg-4 col-12 mt-3">

        <div class="currency-box bg-light my-auto text-center" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
          <div class="p-2">
            {% if i.country.flag_img %}
              <img src="{{i.country.flag_img.url}}" alt="" height="40px;" width="auto">
            {% endif %}
              
            <div class="d-flex mt-2 justify-content-between">
              <h1 class="text-dark">{{i.currecy_sign}}</h1>
              <h1 class="text-info">
                {{i.currecy_rate}}
              </h1>
            </div>
          </div>
        
          <div class="currencyBelow">
            <p>Conversion Rate {{i.conversion_rate}}</p>
          </div>
        
        </div>

         <!-- Transaction Model -->
        <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered model-lg">
            <div class="modal-content">
            
                <div class="modal-body">
                  
                    <div class="row" id="complete">
                        <div class="col-12 col-lg-10  m-auto p-2 text-center">
                           <img src="{{i.country.flag_img}}" alt="" width="40%" height="auto">
                            
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h5>
                                        Currency Details
                                    </h5>
                                   
                                </div>
                                
                                <div class="d-flex justify-content-between">
                                    <p class="text-secondary">
                                        Currency Rate
                                    </p>

                                    <b>
                                        {{i.currecy_rate}}
                                    </b>

                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="text-secondary">
                                        Conversion Rate
                                    </p>

                                    <p class="text-secondary">
                                      {{i.conversion_rate}}
                                    </p>
                                    
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="text-secondary">
                                        Commision Rate
                                    </p>

                                    <p class="text-secondary">
                                        {{i.commision_rate}}
                                    </p>
                                    
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                  {% if i.country.flag_img %}
                                      <img src="{{i.country.flag_img.url}}" alt="" height="40px;" width="auto">
                                  {% endif %}
                                  <div class="text-center">
                                      <h1 class="text-warning">
                                          {{i.currecy_sign}}
                                      </h1>
                                  </div>
                                </div>
                               
                            </div>
                            
                            
                        </div>
                    </div>
                                                                                    
                    <div class="text-end mt-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                
                </div>
            
        </div>
        </div>
        </div>
     <!-- Transaction Model -->
    </div>
     
  {% endfor %}
</div>
{% endblock inside %}
    