{% extends 'homepage/index.html' %}


{% block title %}
    Features XRemit
{% endblock title %}
    
{% block inside %}
<div class="row bg-white m-0 pt-5 pb-5">
    <div class="mt-3 mb-3 text-center">
        <span class="breadcum-front text-light">
            <i class="fa fa-arrow-alt-circle-right"></i>
            <a href="{%url 'homepage:homepage'%}">
                Homepage
            </a>/
            Features
        </span>
    </div>
    <h3 class="head-home text-center mt-3">
        Features XRemit
    </h3>
    {% for j in feature_b %}       
        <div class="col-12 col-lg-3 mt-2">
            <a href="{%url 'homepage:featureDetail' j.id j.name %}">
                <div class="features-box mt-3 text-center">
                    <img src="{{j.image.url}}" alt="" style="height: 80px; width: auto;">
                    <h5 class="my-auto text-dark mt-2">
                        {{j.name}}
                    </h5>
                    <small class="text-dark mt-2">
                        {{j.feature|truncatewords:10|safe}}
                    </small>
                    
                </div>
            </a>
            
        </div>
    {% endfor %}
        
</div>
{% endblock inside %}
    