{% extends 'homepage/index.html' %}


{% block title %}
    Privacy and Policy XRemit
{% endblock title %}
    
{% block inside %}
<div class="row bg-white m-0 pt-5 pb-5">
    <div class="mt-3 mb-3 text-center">
        <span class="breadcum-front text-light">
            <i class="fa fa-arrow-alt-circle-right"></i>
            <a href="{%url 'homepage:homepage'%}">
                Homepage
            </a>/
            Privacy and Policy
        </span>
    </div>
    <h3 class="head-home text-center mt-3">
        Privacy and Policy XRemit
    </h3>
  
        
</div>
{% endblock inside %}
    