{% extends 'homepage/index.html' %}
{% load static %}
{% block title %}
    {{service.name}}
{% endblock title %}
    
{% block inside %}
<div class="row bg-white m-0 pt-5 pb-5">
    <div class="mt-3 mb-3 text-center">
        <span class="breadcum-front text-light">
            <i class="fa fa-arrow-alt-circle-right"></i>
            <a href="{%url 'homepage:homepage'%}">
                Homepage
            </a>/
            <a href="{%url 'homepage:services'%}">
                Service
            </a>/
            {{service.name}}
        </span>
    </div>
    
    <div class="row p-0 m-0 mt-3">
       
        <div class="col-12 mt-2 text-center">
            
            {% if service.image %}
                <img src="{{service.image.url}}" alt="" srcset="" width="30%" height="auto">
                {%else%}
                <img src="{%static 'resources/logodark.png'%}" alt="" srcset="" width="30%" height="auto">
            {% endif %}
                
        </div>
        <div class="col-12  mt-2 my-auto r">
            <h3 class="head-home text-center mt-3">
                {{service.name}}
            </h3>
        </div>
        <div class="row p-0 m-0 mt-3 m-auto">
            <div class="col-lg-10 col-12 m-auto">
                {{service.description|safe}}
            </div>
            <h4 class="head-para text-dark text-center">
                Other services you may wanna view
            </h4>
            {% for i in service_man  %}
                <div class="mt-2 col-6 col-lg-3 m-auto">
                    <div class="course-box ps-2 pe-2">
                        <img src="{%if i.image%}{{i.image.url}}{%endif%}" alt="" height="60px" width="auto">
                        <h4 class="mt-3">{{i.name}}</h4>
                        <small class="text-light">
                            {{i.description|truncatewords:15|safe}}
                        </small>
                    </div>
                </div>
            {% endfor %}

        </div>
       
    </div>
   
    
        
</div>
{% endblock inside %}
    