{% extends 'homepage/index.html' %}


{% block title %}
    Sitemap XRemit
{% endblock title %}
    
{% block inside %}
<div class="row bg-white m-0 pt-5 pb-5">
    <div class="mt-3 mb-3 text-center">
        <span class="breadcum-front text-light">
            <i class="fa fa-arrow-alt-circle-right"></i>
            <a href="{%url 'homepage:homepage'%}">
                Homepage
            </a>/
            Sitemap
        </span>
    </div>
    <h3 class="head-home text-center mt-3">
        Sitemap XRemit
    </h3>
    <div class="row p-0 m-0 mt-4">
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:homepage'%}">
                <div class="color-1 p-3">
                    <i class="fa fa-dot-circle"></i> Homepage
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2">
            <a href="{%url 'homepage:login'%}">
                <div class="color-1 p-3">
                    <i class="fa fa-dot-circle"></i> Login
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:register'%}">
                <div class="color-1 p-3">
                    <i class="fa fa-dot-circle"></i> Register
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:contact'%}">
                <div class="color-1 p-3">
                    <i class="fa fa-dot-circle"></i> contact
                </div>
            </a>
        </div>

        <!-- First -->


        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:services'%}">
                <div class="color-2 p-3">
                    <i class="fa fa-dot-circle"></i> Service
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:about'%}">
                <div class="color-2 p-3">
                    <i class="fa fa-dot-circle"></i> About Xremit
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:feature'%}">
                <div class="color-2 p-3">
                    <i class="fa fa-dot-circle"></i> Feature
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:blog'%}">
                <div class="color-2 p-3">
                    <i class="fa fa-dot-circle"></i> Blog
                </div>
            </a>
        </div>

        <!-- First -->

        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:currency'%}">
                <div class="color-3 p-3">
                    <i class="fa fa-dot-circle"></i> Currency
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:country'%}">
                <div class="color-3 p-3">
                    <i class="fa fa-dot-circle"></i> Country
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:privacy'%}">
                <div class="color-3 p-3">
                    <i class="fa fa-dot-circle"></i> Privacy and Policy
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 mt-2 ">
            <a href="{%url 'homepage:terms'%}">
                <div class="color-3 p-3">
                    <i class="fa fa-dot-circle"></i> Terms and Condition
                </div>
            </a>
        </div>

        <!-- First -->
    </div>
  
        
</div>
{% endblock inside %}
    