{% extends 'homepage/index.html' %}


{% block title %}
    Terms and Condition XRemit
{% endblock title %}
    
{% block inside %}
<div class="row m-0" id="topbarpage">
    <div class="d-flex my-auto">
       
        <h2 class="head-para">
            <a href="{%url 'homepage:homepage'%}">
                Homepage 
            </a>
        </h2>
        
        <p class="head-para">
            <i class="fa fa-arrow-alt-circle-right"></i>
        </p>
        <h2 class="head-para">
            Terms and Condition
        </h2>
       
    </div>
   
</div>
<div class="row bg-white m-0 pt-5 pb-5">

        
</div>
{% endblock inside %}
    