
/* Component Styling */
/* .bg-primary{
    background-color: #003399!important;

}

.bg-info{
    background-color:#0099CC;
}
.bg-warning{
    background-color: #CCFFCC;
}


.text-primary{
    color: #003399!important;

}
.text-secondary{
    color: #66CCFF!important;
}
.text-info{
    color:#0099CC;
}
.text-warning{
    color: #CCFFCC;
}

.bg-secondary, .bg-warning, .bg-light, .bg-danger, .bg-info{
  
    padding: 4px;
} */




.btn-primary {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 5px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;

  font-weight: 500;
 
  text-align: center;
  transition: all .5s;

}

.btn-primary:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}




.btn-warning {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-warning:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-warning:active {
  transform: scale(0.95);
}


.btn-danger {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
}

.btn-danger:active {
  outline: 0;
}

.btn-danger:hover {
  outline: 0;
}

.btn-success {
  background-color: #c2fbd7;
  border-radius: 5px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;

}

.btn-success:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.btn-info {
  background-color: #4389e6;
  border-radius: 5px;
  box-sizing: border-box;
  color: #111827;
  text-align: center;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-info:hover {
  background-color: rgb(97, 172, 248);
}

.btn-info:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-info:focus-visible {
  box-shadow: none;
}

.btn-secondary{
    color: white;
}



.text-primary{
    color: #263159!important;
   
}



.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.loader-content {
    display: flex;
    animation-iteration-count: infinite;
    animation-duration: 200ms;
    animation-name: flash;
    color: white;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    font-weight: bolder;
    height: 100vh;
}


.load-content{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: #110c5e;
    color: white;
    display: flex;
    flex-direction: vertical;
    align-items: center;
    
}
.load-content h6{
    width: 100%;
}
.loaded {
    opacity: 0;
    pointer-events: none;
}

.shortcut{
    font-size: 14px;
    color: #110c5e; 
    cursor: pointer;
    animation-name: bounce;
}
.shortcut:hover{
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.menu-icon{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.form-control{
    border: 1px solid grey;
    color: black;
    font-size: 13px;
    height: 38px;
    padding: 10px;
    border-radius: 8px;
    
    /* box-shadow: rgb(rgb(1rgb(169, 169, 169)84, 184), rgb(141rgb(92, 92, 92)1, 141), #1e1780); */
}
.card {
    border-radius: 5px;
    border: none!important;
}
.features-box{
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}
#signIn-banner{
    background-color: #1e1780;
}
#searchBtn{
    border-radius: 0px;
    border: none;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-control:focus{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    transition-delay:.2s;
    border-left: 1px solid rgb(240, 186, 38);
    border-right: 1px solid rgb(240, 186, 38);
    border-top: 1px solid rgb(240, 186, 38);
    border-bottom: 1px solid rgb(240, 186, 38);
    
}

/* End Component styling */



/* Adjusment */


small, span, p{
    font-family: 'Alegreya Sans SC', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #ebebeb;
}
a{
    text-decoration: none;
    color: inherit;
}
.maintain{
    height: 65px;
}

.dropdown-menu-start[data-bs-popper] {
    right: auto;
    left: -119px!important;
}
/* End Adjusment Styling */


/* Styling Basic component*/
.navbar{
    padding: 14px;
}
.nav-link{
    color: white
}

.nav-link:hover{
    color: #aaaaaa;
}


/* Styling */


/* Homepage Design */
.background{
    background-image: url('../resources/aus.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.currecyBox{
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    display: flex;
 
}
.left-currency{
    width: 75%;
}
.head-home {
    font-size: 50px;
    font-weight: bold;
}
.head-para{
    font-size: 25px;
    font-weight: 500;
    /* background-color: #3f37aa; */
    color: white;
    padding: 10px;
}
.currecyBox input{
    width: 100%;
    border: none;
    height: 23px;
    color: #110c5e;
    font-size: 20px;
}
.right-currency img{
    height: 100%;
    width: 55%;
}

.receipt-card{
    background-color: rgb(236, 241, 247);
}

.right-currency{
    height: 100%;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
}
.right-currency-drop{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    animation-name: flash;
}
.right-currency-drop img{
    height: auto;
    width: 55%;
}
.right-currency-drop:hover{
    background-color: rgb(231, 231, 231);
    transition-duration: 200ms;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.currecyBox input:focus{
    outline: none;
}
.currecyBox .dropdown{
    width: 25%;
  
}
.box{
    cursor: pointer;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.box:hover{
    background-color: #f5f5f5;
}

#addnewrfromsendmoney{
    animation-name: pulse;
}
#addnewrfromsendmoney:hover{
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.box img{
    height: 45px;
    width: 45%;
}


/* Login page styling */
#login-card{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
.login-img{
    width: 100%;
    height: 100%;
}
#signIn-banner{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}
.form-head{
    background-color: #003399;
    padding:10px;
    text-align: center;
    color: white;
    overflow: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.back-img{
    background-image: url('../resources/back.jpg');
    background-size:100% 100%;
    height: 100vh;
}
.login-flex i{
    background-color: white;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    font-size: 18px;
    height: 38px;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: #110c5e;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgb(rgb(1rgb(169, 169, 169)84, 184), rgb(141rgb(92, 92, 92)1, 141), #1e1780);
}

/* Login page end */



/* Styling Dashboard page of Owner */
.das-img img{
    width: 70px;
    height: 70px;
}

.below-tag img{
    height: 150px;
    width: 150px;
}
.whole-content{
    width: 80%;
    float: right;
}
.side-bar{
    background-color: white;
    height: 100vh;
    margin-left: 14px;
    width: 18%;
    top: 16px;
    position: fixed;
    bottom: 0;
    border-radius: 10px;
    overflow-y: scroll;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}
.activedb{
    background-color: rgb(239 239 239);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}



/* Register Page Login */
.video-back{
    position: relative;
    width: 100%;
    /*padding-bottom: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
    /* overflow: hidden; */
}
#register-video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.register-div{
    background-color: white;
    height: 100vh;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
/* Register Page */

/* Dashboard Design */
.dashboard-box{
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.dashboard-box:hover{
    background-color: rgb(234, 234, 234);
    box-shadow: rgba(83, 83, 88, 0.2) 0px 7px 29px 0px;
    transition-delay: .2s;
}
.breadcum{
    padding: 5px;
    font-weight:300;
    background-color: white;
    color: #110c5e;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.sendMoneyText{
    font-size: 11px;
}

.topBox{
    background-color: white;
    border-radius: 5px;
    display: none;

}

.side-item{
    cursor: pointer;
    display: flex;

}

.side-item span{
    font-weight: lighter;
}

.transaction-div{
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    justify-content: space-between;
}
.transaction-div:hover{
   background-color: #cdc9ff!important;
   color: white;
   transition-duration: 300ms;
}

.transaction-div:hover{
    background-color: #e0defd!important;
    color: white;
    transition-duration: 300ms;
 }


 .transaction-div:hover .trans-icon{
    animation-name: rotateIn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }

.trans-icon {
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    color: #263159!important;
    
}
/* Scrollbar Track */
.side-bar::-webkit-scrollbar-track {
    background-color: #e7e7e7; /* Adjust the track color */
  }
  
  /* Scrollbar Thumb */
  .side-bar::-webkit-scrollbar-thumb {
    background-color: #f0f0f0; /* Adjust the thumb color */
  }
  
  /* Scrollbar Thumb on hover */
  .side-bar::-webkit-scrollbar-thumb:hover {
    background-color: #f3f3f3; /* Adjust the thumb color on hover */
  }
  
  /* Scrollbar Width and Height */
  .side-bar::-webkit-scrollbar {
    width: 5px; /* Adjust the scrollbar width */
    height: 5px; /* Adjust the scrollbar height */
  }

.currency-box{
    background-color:#ffffff;
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.currencyBelow{
    background-color: #486bb1;
    color: #f3f3f3;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

:-ms-input-placeholder{
    color: black;
}

.django-ckeditor-widget{
    padding: 0px!important;
    border-radius: 5px!important;
}
#cke_id_description{
    border-radius: 5px;
}
#kyc_rec{
    cursor: pointer;
}

#kyc_rec:hover{
    background-color: rgb(236, 236, 236);
}

.side-item div{

    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.side-item i{
    color:#110c5e;    
} 

.side-item:hover{
    transition-duration: 400ms;
}

.side-item:hover{
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.back{
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 10px;
}
.item-list-div{
    background-color: #f7f7f7;
    padding: 10px!important;
    border-radius: 10px;
}
.flex-wr{
    flex-grow: 1;
}
.flex-wr i{
    font-size: 12px;
}
#search{
    border: none;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

}
#myTable{
    outline: none!important;
    border-color: #f3f3f3;
}

.flex-wr p{
    font-size: 12px;
    font-weight: bold;
}
.logo_show{
    height: auto;
    width: 80%;
}

.django-ckeditor-widget{
    width: 100%!important;
}
.showphone{
    display: none;
}



.topHead{
    display: flex;
    justify-content: space-between;
}
.BookBox{
    background-color: white;
    border-radius: 10px;
}
.top-link{
    font-size: 20px;
    color: rgb(175, 175, 175);
}
#profile{
    background-color: #f3f5f8;
    border-radius: 10px;
}
#personal{
    background-color: #eaf1ff;
    border-radius: 10px;
    
}
#document{
    background-color:#e3e8f0;
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .hidePhone {
      display: none;
    }
    .whole-content{
        width: 100%;
    }
    .showphone{
        display: inline;
    }
  }


/* Homepage design */
.choose-bg{
    background-image: url('../resources/login.png');
    background-size: cover;
    background-attachment: fixed;
    /* background-attachment: scroll; */
    height: 300px;
    width: 100%;
}
.back-bg{
    height: 300px;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.6);
}
.footer{
    background-color:#110c5e;
}



.custom-input {
    display: none; /* Hide the default input element */
  }

  .custom-label {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: #f8f8f8;
    color: #555;
    font-size: 14px;
    cursor: pointer;
  }

  .custom-label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
  }

  /* Hide the plus icon when an image is selected */
  .custom-label.with-image::before {
    display: none;
  }

#image-preview {
    max-width: 50%;
    max-height: auto;
}


.docFile{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}


.docFile:hover{
    background-color: rgb(150, 178, 255);
    transition-duration: 200ms;
}
.docFile img{
    width: auto;
    height: 50px;

}

.box.selected{
    border: 2px solid rgb(69, 78, 206);
    animation-name: bounce;
    background-color: rgb(129, 136, 241);
  
    animation-iteration-count:1;
    animation-delay: 10ms;
    animation-duration: 1s;
}

.document-image-box{
    padding: 10px;
    background-color: rgb(248, 248, 229);
    border-radius: 10px;
}

.bankhere{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.bankhere:hover{
    background-color: #f0f0f0;
    transition-duration: 200ms;

}

.emailBox{
    background-color: #f7f7f7;
    border-radius: 5px;

}