{% extends 'customer/dashboard.html' %}
{% load static %}

{% block title %}
    Search Result
{% endblock title %}
    


{% block inside %}
<div class="row p-0 m-0 mt-3">
    <div class="mt-3 mb-3">
      <span class="breadcum">
        <a href="{%url 'customer:dashboard'%}">
            Dashboard
        </a>/
        Search Result
      
      </span>
    </div>
    
    {% if reciepient %}
    <div class="row p-0 m-0 mt-3">
        {% for i in reciepient %}
          <div class="transaction-div p-2">
            <div class="d-flex">
            
                  <i class="trans-icon fa fa-user-circle"></i>
                  <span class="ps-2 my-auto" >
                    <h6 class="text-primary">
                      {{i.first_name}} 
                        {%if i.middle_name%}
                          {{i.middle_name}}
                        {%endif%}
                       {{i.last_name}}
                    </h6>
                    <p class="text-danger">
                      <i class="fa fa-location-dot"></i>
                      {{i.country}}, {{i.city}}, {{i.state}}, {{i.zip_code}}, {{i.address}}
                    </p>
                  </span>

            </div>
            
            <div class="d-flex">
              
              {% if i.country.flag_img %}
                  <img class=" my-auto" src="{{i.country.flag_img.url}}" alt="" height="30px;" width="auto">
              {% endif %}
                
             
              <p class="text-success my-auto  ps-4">
                <a  class="" href="{%url 'customer:editRecipient' i.id%}">
                  <i class="fa fa-pencil-square p-3 bg-light"></i>
                </a>
              </p>
              
              
              <p class="text-danger my-auto ps-1 pe-4"  data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                <i class="fa fa-trash p-3 bg-light"></i>
              </p>

               <!-- Delete Model -->
              <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="{%static 'resources/delete.gif'%}" alt="" style="width: 30%;">
                            </div>
                    
                            <h5 class="text-dark"> Are you sure want to delete recipient  {{i.first_name}} {{i.middle_name}} {{i.last_name}} </h5>
                           
                            <div class="text-end mt-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Change my mind</button>
                                <!-- Delete URL -->
                                <a href="{%url 'customer:deleteRecipient' i.id%}">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </a>
                                
                            </div>
                        
                        </div>
                    
                </div>
                </div>
              </div>
              <!-- Delete Model -->
            </div>
          </div>
        {% endfor %}
    </div>
    {% endif %}
        
   
    
    {% if currency %}
    <div class="row p-0 m-0 mt-3">
        
        {% for i in currency  %}
          <div class="col-lg-4 col-12 mt-3">

              <div class="currency-box my-auto text-center" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                <div class="p-2">
                  {% if i.country.flag_img %}
                    <img src="{{i.country.flag_img.url}}" alt="" height="40px;" width="auto">
                  {% endif %}
                    
                  <div class="d-flex mt-2 justify-content-between">
                    <h1 class="text-dark">{{i.currecy_sign}}</h1>
                    <h1 class="text-info">
                      {{i.currecy_rate}}
                    </h1>
                  </div>
                </div>
              
                <div class="currencyBelow">
                  <p>Conversion Rate {{i.conversion_rate}}</p>
                </div>
              
              </div>

               <!-- Transaction Model -->
              <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered model-lg">
                  <div class="modal-content">
                  
                      <div class="modal-body">
                        
                          <div class="row" id="complete">
                              <div class="col-12 col-lg-10  m-auto p-2 text-center">
                                 <img src="{{i.country.flag_img}}" alt="" width="40%" height="auto">
                                  
                                  <div>
                                      <div class="d-flex justify-content-between">
                                          <h5>
                                              Currency Details
                                          </h5>
                                         
                                      </div>
                                      
                                      <div class="d-flex justify-content-between">
                                          <p class="text-secondary">
                                              Currency Rate
                                          </p>

                                          <b>
                                              {{i.currecy_rate}}
                                          </b>

                                      </div>

                                      <div class="d-flex justify-content-between">
                                          <p class="text-secondary">
                                              Conversion Rate
                                          </p>

                                          <p class="text-secondary">
                                            {{i.conversion_rate}}
                                          </p>
                                          
                                      </div>

                                      <div class="d-flex justify-content-between">
                                          <p class="text-secondary">
                                              Commision Rate
                                          </p>

                                          <p class="text-secondary">
                                              {{i.commision_rate}}
                                          </p>
                                          
                                      </div>
                                      <hr>
                                      <div class="d-flex justify-content-between">
                                        {% if i.country.flag_img %}
                                            <img src="{{i.country.flag_img.url}}" alt="" height="40px;" width="auto">
                                        {% endif %}
                                        <div class="text-center">
                                            <h1 class="text-warning">
                                                {{i.currecy_sign}}
                                            </h1>
                                        </div>
                                      </div>
                                     
                                  </div>
                                  
                                  
                              </div>
                          </div>
                                                                                          
                          <div class="text-end mt-2">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                      
                      </div>
                  
              </div>
              </div>
              </div>
           <!-- Transaction Model -->
          </div>
           
        {% endfor %}
          
    </div> 
    {% endif %}
        
    
    
    {% if bank %}
        <div class="row p-0 m-0 mt-3">
            {% for i in bank  %}
                <div class="mt-3 col-12 col-lg-4">
                    <div class="p-2 mb-3" id="login-card"  onclick="toggleBorder(this, '{{i.id}}')" >
                        <div>

                            <span class="p-2" >
                                
                                <p class="text-secondary p-0 m-0">
                                    Bank Name:
                                </p>

                                <p class="text-dark p-0 m-0">
                                    {{i.bank_name}}
                                </p>
                                    
                            
                                <div class="d-flex justify-content-between mt-2">
                                    <p class="text-secondary">
                                        Account Number:
                                    </p>

                                    <p class="text-secondary">
                                        {{i.account_number}}
                                    </p>
                                    
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="text-secondary">
                                        Account Name:
                                    </p>

                                    <p class="text-secondary">
                                        {{i.account_name}}
                                    </p>
                                    
                                </div>
                                <span class="badge bg-secondary">
                                    {{i.recipient.first_name}} {{i.recipient.last_name}}
                                </span>
                                
                            </span>
                        </div>
                        <hr>
                        <div class="text-center d-flex justify-content-between">
                        
                        
                            {% if i.country.flag_img %}
                                <img class="my-auto" src="{{i.country.flag_img.url}}" alt="" height="20px" width="auto%">
                            {% endif %}
                
                            <div class="my-auto">
                                <small>Swift Code</small>
                                <h5>
                                    {{i.swift_code}}
                                </h5>
                            </div>
                        
                        </div>
                        <hr>
                        <div class="text-center d-flex justify-content-center " >
                        <a class="p-2 m-2" href="{%url 'customer:editBank' i.id%}" >
                            <i class="fa fa-pencil-square p-3 bg-light"></i>
                        </a>
                        
                        
                        <a class="p-2  m-2 text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}" >
                            <i class="fa fa-trash p-3 bg-light"></i>
                        </a>
                        


                        <!-- Delete Model -->
                            <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                    
                                        <div class="modal-body">
                                            <div class="text-center">
                                                <img src="{%static 'resources/delete.gif'%}" alt="" style="width: 30%;">
                                            </div>
                                    
                                            <h5 class="text-dark"> Are you sure want to delete {{i.bank_name}} </h5>
                                        
                                            <div class="text-end mt-2">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Change my mind</button>
                                                <!-- Delete URL -->
                                                <a href="{%url 'customer:deleteBank' i.id%}">
                                                    <button type="button" class="btn btn-danger">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </button>
                                                </a>
                                                
                                            </div>
                                        
                                        </div>
                                    
                                </div>
                                </div>
                            </div>
                        <!-- Delete Model -->
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock inside %}
    