{% extends 'owner/dashboard.html' %}
{% load static %}

{% block title %}
   Country Management
{% endblock title %}



{% block inside %}

<style>
    label{
       
        padding: 0px!important;
    }
</style>   

<div class="row p-0 m-0 mt-3">
         
   
    
    <div class="mt-3 mb-3">
      <span class="breadcum">
        <a href="{%url 'owner:dashboard'%}">
            Dashboard
        </a>/
        <a href="{%url 'owner:site'%}">
            Site Setting
        </a>/
        
        Country Settings
  
      </span>
    </div>


    <div class="row m-0  mt-3">
        <h6 class="p-0">
            Country settings
        </h6>
        <hr>
        <div class="row p-0 m-0 mt-1">

            <div class="col-lg-4 col-12 m-0 p-0 mt-2">
                <div id="login-card" class="p-2">
                    <h5 class="m-2 text-center">Add New Country</h5>
                    <hr>
                   
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row p-0 m-0">
                            {{form}}
                            {% csrf_token %}
                            <button class="btn btn-primary mt-3" type="submit">
                                Add Country
                            </button>
    
                        </div>
                        
                        
                    </form>
                </div>
            </div>
    
            <div class="col-lg-8 col-12 mt-2">
              
                <div class="card p-2">
                    <div class=" login-flex d-flex my-auto" style="width: 100%;">
                        <i class="fa fa-magnifying-glass my-auto p-2"></i>
                        <input type="text" name="search"  id="search" onkeyup="SearchName()" class="form-control"  placeholder="Search Country by their name" required id="">
                       </div>
                    <table class="table border-1" id="myTable">
                
                        <tbody>
                            
                            {% for i in country  %}
                            <tr>
                                <td>
                                    <div class="item-list-div mt-2 p-1">
                                        <div class="d-flex justify-content-between">
                                            {% if i.flag_img %}
                                                <img src="{{i.flag_img.url}}" alt="" height="30px;" width="auto;">
                                            {%else%}
                                                <i class="fa fa-globe"></i>
                                            {% endif %}
                                            <p class="m-0 p-2 my-auto">
                                                {{i.name}}
                                            </p>
                                            <div class="my-auto">
                                          
                                                <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#exampleModalEdit{{i.id}}">
                                                    <i class="fa fa-eye-dropper"></i>
                                                    Edit
                                                </button>
    
                                                <!-- Edit Model -->
                                                    <div class="modal fade" id="exampleModalEdit{{i.id}}" tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                            
                                                                <div class="modal-body">
                                                                    <div class="text-center">
                                                                        Edit {{i.name}}
                                                                    </div>
                                                                    <hr>
                                                                    <form action="{%url 'owner:editCountry' i.id%}" method="post" enctype="multipart/form-data">
                                                                        <label for="name"> Country Name</label>
                                                                        <input class="form-control" type="text" value = "{{i.name}}" name="country_name" id="" required>
                                                                        <label for="name"> Image of Flag </label>
                                                                        <input class="form-control" type="file" value = "{{i.link}}" name="country_link" id="">
                                                                        {% csrf_token %}
                                                                        <button type="submit" class="btn btn-danger mt-2">
                                                                            <i class="fa fa-pencil"></i> Edit
                                                                        </button>
                                                              
                                                                    </form>
                                                                
                                                                                                                                    
                                                                    <div class="text-end mt-2">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    </div>
                                                                
                                                                </div>
                                                            
                                                        </div>
                                                        </div>
                                                    </div>
                                                <!-- Edit Model -->
                                   
                                             
                                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}"> 
                                                    <i class="fa fa-trash-alt"></i>
                                                    Delete
                                                </button>
    
                                                <!-- Delete Model -->
                                                    <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                            
                                                                <div class="modal-body">
                                                                    <div class="text-center">
                                                                        <img src="{%static 'resources/delete.gif'%}" alt="" style="width: 30%;">
                                                                    </div>
                                                            
                                                                    <h5>Are you sure want to delete {{i.name}}</h5>
                                                                   
                                                                    <div class="text-end mt-2">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Change my mind</button>
                                                                        <!-- Delete URL -->
                                                                        <a href="{%url 'owner:deleteCountry' i.id%}">
                                                                            <button type="button" class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </button>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                
                                                                </div>
                                                            
                                                        </div>
                                                        </div>
                                                    </div>
                                                <!-- Delete Model -->
        
                                            </div>
                                        </div>
                                      

                                        
                                      
                                    </div>

                                 
                                </td>
                              
                            </tr>
                             
                            {% endfor %}
                            <div id="items-container"></div>
                         
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
      

    
    </div>

   
</div>

{% endblock inside %}
    
    