{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{user.get_full_name}} Dashboard
{% endblock title %}
    

{% block navbar %}
  
{% endblock navbar %}
  


  

{% block content %}
<div class="p-0 m-0 ">
    <!-- Side Bar -->
    <div class="p-3 side-bar pb-5 hidePhone" >
    
        <h3 class="text-primary mt-3 text-center text-capitalize">
          xRemit
        </h3>
        <hr>
        <a href="{%url 'owner:dashboard'%}">
          <div class="mt-3 p-2  activedb side-item">
            <div class="text-center activedbs">
              <i class="fa fa-dashboard mt-2"></i>  
            </div>
            
            <span class="ms-3 my-auto text-primary text-bold">
              Dashboard
            </span>
            
          </div>
        </a>
       
        <!-- <a href="{%url 'owner:agent'%}"> -->
          <div class="mt-2 p-2 side-item">
            <div class="text-center">
              <i class="fa fa-users mt-2"></i>  
            </div>
            <span class="ms-3 my-auto text-primary text-bold">
              Agent
            </span> 
          </div>
        <!-- </a> -->
  
        <a href="{%url 'owner:customer'%}">
            <div class="mt-2 p-2 side-item">
              <div class="text-center">
                <i class="fa-solid fa-users-line mt-2"></i>  
              </div>
            
              <span class="ms-3 my-auto text-primary text-bold"> 
                Customer
              </span>
            </div>
        </a>
       
        <a href="{%url 'owner:currency'%}">
          <div class="mt-2 p-2 side-item">
            <div class="text-center">
              <i class="fa fa-money-bills mt-2"></i>   
            </div>
            <span class="ms-3 my-auto text-primary text-bold">
              Currency
            </span> 
          </div>
        </a>
       
        

        <a href="{%url 'owner:site'%}">
          <div class="mt-2 p-2 side-item">
            <div class="text-center">
              <i class="fa fa-cog mt-2"></i>  
            </div>
            <span class="ms-3 my-auto text-primary text-bold">
              Site Settings
            </span>
          </div>
        </a>

        <div class="mt-2 p-2 side-item">
          <div class="text-center">
            <i class="fa fa-user mt-2"></i>  
          </div>
          <span class="ms-3 my-auto text-primary text-bold">
            Profile
          </span>
        </div>
       
  
        <div class="mt-2 p-2 side-item">
          <div class="text-center">
            <i class="fa-solid fa-money-bill-transfer mt-2"></i>
          </div>
          <span class="ms-3 my-auto text-primary text-bold">
            Transaction
          </span>
        </div>
        <a href="{%url 'owner:country'%}">
          <div class="mt-2 p-2 side-item">
            <div class="text-center">
              <i class="fa-solid fa-globe mt-2"></i>
            </div>
            <span class="ms-3 my-auto text-primary text-bold">
              Country
            </span>
          </div>
        </a>
        <a href="{%url 'owner:pickup'%}">
          <div class="mt-2 p-2 side-item">
            <div class="text-center">
              <i class="fa-solid fa-globe mt-2"></i>
            </div>
            <span class="ms-3 my-auto text-primary text-bold">
              Pick Up point
            </span>
          </div>
        </a>

        <div class="mt-2 p-2 side-item">
          <div class="text-center">
            <i class="fa-solid fa-building-columns  mt-2"></i>  
          </div>
          <span class="ms-3 my-auto text-primary text-bold">
            Bank
          </span>
        </div>

        <div class="mt-2 p-2 side-item">
          <div class="text-center">
            <i class="fa-solid fa-inbox mt-2"></i>
          </div>
          <span class="ms-3 my-auto text-primary text-bold">
            Email Setting
          </span>
        </div>


        <div class="mt-2 p-2 side-item">
          <div class="text-center">
            <i class="fa-solid fa-comments mt-2"></i>  
          </div>
          <span class="ms-3 my-auto text-primary text-bold">
            SMS Setting
          </span>
        </div>

        <div class="mt-2 p-2 side-item">
          <div class="text-center">
            <i class="fa-solid fa-ban mt-2"></i>
          </div>
          <span class="ms-3 my-auto text-primary text-bold">
            Banned User
          </span>
        </div>

    

        <a href="{%url 'homepage:logout'%}">
          <div class="mt-2 p-2 side-item">
            <div class="text-center">
              <i class="fa fa-sign-out-alt mt-2"></i>
            </div>
            <span class="ms-3 my-auto text-primary text-bold">
              Logout
            </span>
          </div>
        </a>
       
     
    </div>
   
    <!-- SideBar -->
    <div class="whole-content pb-5 mb-5">

      <div class=" d-flex justify-content-between mt-3 p-2">

        <div class="login-flex d-flex my-auto" style="width: 50%;">
         <i class="fa fa-magnifying-glass my-auto p-2"></i>
         <input type="text" name="email" class="form-control" id="searchBtn"  placeholder="Ex: Transaction, Customer, Agent, Currency and regions" required id="">
        </div>
        <div class="my-auto">
          <i class="far fa-bell p-2 menu-icon"></i>

           <i class="fa fa-cog p-2 menu-icon"></i>
           
           <a href="{%url 'homepage:logout'%}">
              <i class="fa fa-sign-out p-2 menu-icon"></i>
           </a>
           <a class="showphone" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="fa fa-bars p-2 menu-icon"></i>
          </a>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h3 class="text-primary mt-3 text-center text-capitalize">
                xRemit
              </h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
             
              <hr>
              <a href="{%url 'owner:dashboard'%}">
                <div class="mt-3 p-2  activedb side-item">
                  <div class="text-center activedbs">
                    <i class="fa fa-dashboard mt-2"></i>  
                  </div>
                  
                  <span class="ms-3 my-auto text-primary text-bold">
                    Dashboard
                  </span>
                  
                </div>
              </a>
             
              <a href="{%url 'owner:agent'%}">
                <div class="mt-2 p-2 side-item">
                  <div class="text-center">
                    <i class="fa fa-users mt-2"></i>  
                  </div>
                  <span class="ms-3 my-auto text-primary text-bold">
                    Agent
                  </span> 
                </div>
              </a>
        
              <a href="{%url 'owner:customer'%}">
                  <div class="mt-2 p-2 side-item">
                    <div class="text-center">
                      <i class="fa-solid fa-users-line mt-2"></i>  
                    </div>
                  
                    <span class="ms-3 my-auto text-primary text-bold"> 
                      Customer
                    </span>
                  </div>
              </a>
              <a href="{%url 'owner:currency'%}">
                <div class="mt-2 p-2 side-item">
                  <div class="text-center">
                    <i class="fa fa-money-bills mt-2"></i>   
                  </div>
                  <span class="ms-3 my-auto text-primary text-bold">
                    Currency
                  </span> 
                </div>
              </a>
      
              <a href="{%url 'owner:site'%}">
                <div class="mt-2 p-2 side-item">
                  <div class="text-center">
                    <i class="fa fa-cog mt-2"></i>  
                  </div>
                  <span class="ms-3 my-auto text-primary text-bold">
                    Site Settings
                  </span>
                </div>
              </a>
      
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa fa-user mt-2"></i>  
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Profile
                </span>
              </div>
             
        
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa-solid fa-money-bill-transfer mt-2"></i>
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Transaction
                </span>
              </div>
              <a href="{%url 'owner:country'%}">
                <div class="mt-2 p-2 side-item">
                  <div class="text-center">
                    <i class="fa-solid fa-globe mt-2"></i>
                  </div>
                  <span class="ms-3 my-auto text-primary text-bold">
                    Country
                  </span>
                </div>
              </a>
      
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa-solid fa-building-columns  mt-2"></i>  
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Bank
                </span>
              </div>
      
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa-solid fa-inbox mt-2"></i>
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Email Setting
                </span>
              </div>
      
      
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa-solid fa-comments mt-2"></i>  
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  SMS Setting
                </span>
              </div>
      
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa-solid fa-ban mt-2"></i>
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Banned User
                </span>
              </div>
      
          
      
              <a href="{%url 'homepage:logout'%}">
                <div class="mt-2 p-2 side-item">
                  <div class="text-center">
                    <i class="fa fa-sign-out-alt mt-2"></i>
                  </div>
                  <span class="ms-3 my-auto text-primary text-bold">
                    Logout
                  </span>
                </div>
              </a>
            </div>
          </div>
           
        </div>
      </div>
      {% block inside %}

        <div class="row m-0 mt-3">
         
<!--    
          <div class="topBox mt-3 p-2">
            <h4 class="text-primary">Dashboard</h4>
            <small>This is admin dashboard. You can mainpulate everything from this dashboard</small>
          </div> -->
     
          
          <div class="mt-3 m-0">
            <span class="breadcum">
              Dashboard 
            </span>
          </div>
          <div class="row">
            <div class="mt-3 col-12 ">
              <div>
                  <div class="p-2">
                    <a href="{%url 'owner:kyc'%}">
                      <div class="alert alert-light" id="kyc_rec">
                        <img src="{%static 'resources/verified.png'%}" alt="" height="30px;" width="30px;">
                        <span class="text-danger">
                           VIEW KYC VERIFICATION REQUEST
                        </span>
                      </div>
                    </a>
                     
                  </div>

                  <div class="d-flex justify-content-between">
                    <h5 class="m-0 p-2 text-primary">Recent Transactions</h5>
                    <button class="btn btn-primary">
                      See All
                    </button>
                  </div>
                 

                  {% for i in transaction %}
                      <div class="transaction-div p-2" id="login-card" data-bs-toggle="modal" data-bs-target="#exampleModalEdit{{i.id}}">
                          <div class="d-flex">
                          
                              <i class="trans-icon fa fa-arrow-alt-circle-up"></i>
                              <span class="ps-2 my-auto" >
                                  <h6 class="text-primary">
                                  Transfer Money to {{i.recipient.first_name}} {%if i.recipient.middle_name%} {{i.recipient.middle_name}} {%endif%} {{i.recipient.last_name}}
                                  </h6>
                                  
                                  {% if i.status == 'Pending' %}
                                      <p class="text-warning p-0 m-0">
                                          <i class="fa fa-circle-dot"></i>
                                          Pending
                                      </p>
                                  {% endif %}
      
                                  {% if i.status == 'Cancelled' %}
                                      <p class="text-danger p-0 m-0">
                                          <i class="fa fa-circle-dot"></i>
                                          Cancelled
                                      </p>
                                  {% endif %}
      
                                  {% if i.status == 'Completed' %}
                                      <p class="text-success p-0 m-0">
                                          <i class="fa fa-circle-dot"></i>
                                          Completed
                                      </p>
                                  {% endif %}
                                      
                                  
                                  <small class="text-secondary" style="font-size: 12px;">
                                      Click to view report
                                  </small>
                              </span>
                              
                          
                          </div>
                          
                          <div>
                          <h6 class="text-danger">
                              - {{i.sent}} {{i.sending_currency.currecy_sign}}
                          </h6>
                          <p class="text-success">
                          
                              <b>
                                  {{i.received}} {{i.receiving_currency.currecy_sign}}
                              </b>
                          </p>
                          </div>
                      </div>
      
                      <!-- Transaction Model -->
                      <div class="modal fade" id="exampleModalEdit{{i.id}}" tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered model-lg">
                              <div class="modal-content">
                              
                                  <div class="modal-body">
                                    
                                      <div class="text-center">
                                          {% if i.status == 'Pending' %}
                                          <p class="text-warning p-0 m-0">
                                              <i class="fa fa-circle-dot"></i>
                                              Pending
                                          </p>
                                          {% endif %}
      
                                          {% if i.status == 'Cancelled' %}
                                              <p class="text-danger p-0 m-0">
                                                  <i class="fa fa-circle-dot"></i>
                                                  Cancelled
                                              </p>
                                          {% endif %}
      
                                          {% if i.status == 'Completed' %}
                                              <p class="text-success p-0 m-0">
                                                  <i class="fa fa-circle-dot"></i>
                                                  Completed
                                              </p>
                                          {% endif %}
                                      </div>

                                      <form class="mt-3" action="{%url 'owner:changeStatus' i.id%}" method="post">
                                        <h6>Update the payment status</h6>
                                        <hr>
                                        <select class="form-control" name="status" id="">
                                          <option value="Completed"> Completed </option>
                                          <option value="Pending"> Pending </option>
                                          <option value="Cancelled"> Cancelled </option>
                                        </select>
                                        {% csrf_token %}
                                        <button class="btn btn-primary mt-3 w-100">
                                          Update Status
                                        </button>
                                      </form>
                                  
                                      <div class="text-center mt-3">
                                          <h6 class="text-primary">
                                              Transfer Money to {{i.recipient.first_name}} {%if i.recipient.middle_name%} {{i.recipient.middle_name}} {%endif%} {{i.recipient.last_name}}
                                          </h6>
                                      </div>
                                      <hr>
                                      <div class="row" id="complete">
                                          <div class="col-12 col-lg-10  m-auto p-2 text-center">
                                          
                                              
                                              <div>
                                                  <div class="d-flex justify-content-between">
                                                      <h5>
                                                          Transfer Details
                                                      </h5>
                                                  
                                                  </div>
                                                  
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          You Send
                                                      </p>
      
                                                      <b>
                                                          {{i.sent}} {{i.sending_currency.currecy_sign}}
                                                      </b>
      
                                                  </div>
      
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Total Fee
                                                      </p>
      
                                                      <p class="text-secondary">
                                                          {{i.fee}} {{i.sending_currency.currecy_sign}}
                                                      </p>
                                                      
                                                  </div>
      
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Amount after converting
                                                      </p>
      
                                                      <p class="text-secondary">
                                                          {{i.received}} {{i.receiving_currency.currecy_sign}}
                                                      </p>
                                                      
                                                  </div>
      
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Conversion Rate
                                                      </p>
      
                                                      <p class="text-secondary">
                                                      {{i.converting_rate}}
                                                      </p>
                                                      
                                                  </div>
      
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Other get
                                                      </p>
      
                                                      <b>
                                                          {{i.received}} {{i.receiving_currency.currecy_sign}}
                                                      </b>
                                                      
                                                  </div>
                                                  <h6 class="mt-2">
                                                      <i class="fa fa-bank"></i>
                                                      Bank Details
                                                  </h6>
                                                  <hr>
      
                              
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Name
                                                      </p>
      
                                                      <b>
                                                          Ram Prasad Yadav
                                                      </b>
                                                      
                                                  </div>
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Bank Name
                                                      </p>
      
                                                      <p class="text-secondary">
                                                          Citizen Bank Limited
                                                      </p>
                                                      
                                                  </div>
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Account Number
                                                      </p>
      
                                                      <p class="text-secondary">
                                                          0021255622111
                                                      </p>
                                                      
                                                  </div>
                                                  <div class="d-flex justify-content-between">
                                                      <p class="text-secondary">
                                                          Account Name
                                                      </p>
      
                                                      <p class="text-secondary">
                                                          Ram Prasad Yadav
                                                      </p>
                                                      
                                                  </div>
                                              </div>
                                              
                                              
                                          </div>
                                      </div>
                                                                                                      
                                      <div class="text-end mt-2">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      </div>
                                  
                                  </div>
                              
                          </div>
                          </div>
                      </div>
                      <!-- Transaction Model -->
                  {% endfor %}

                  
              </div>
             
             
            </div>
          </div>
         
          <div class="row mt-3">
          
            <div class="col-12 col-lg-3 mt-2 ">
              <a href="">
                  <div class="dashboard-box">
                      <div class="my-auto">
                          <h6>Customers</h6>
                         
                      </div>
                      <div class="my-auto">
                          <div class="text-center das-img">
                              <img src="{%static 'resources/customer.png'%}" alt="" srcset="">
                          </div>
                         
                      </div>
                  </div>
              </a>
              
            </div>
  
            <div class="col-12 col-lg-3 mt-2 ">
              <a href="">
                  <div class="dashboard-box">
                      <div class="my-auto">
                          <h6>Agents</h6>
                         
                      </div>
                      <div class="my-auto">
                          <div class="text-center das-img">
                              <img src="{%static 'resources/agent.png'%}" alt="" srcset="">
                          </div>
                         
                      </div>
                  </div>
              </a>
              
            </div>

            <div class="col-12 col-lg-3 mt-2 ">
              <a href="">
                  <div class="dashboard-box">
                      <div class="my-auto">
                          <h6>Transaction</h6>
                         
                      </div>
                      <div class="my-auto">
                          <div class="text-center das-img">
                              <img src="{%static 'resources/transacton.jpg'%}" alt="" srcset="">
                          </div>
                         
                      </div>
                  </div>
              </a>
              
            </div>

            <div class="col-12 col-lg-3 mt-2 ">
              <a href="">
                  <div class="dashboard-box">
                      <div class="my-auto">
                          <h6>Customers</h6>
                         
                      </div>
                      <div class="my-auto">
                          <div class="text-center das-img">
                              <img src="{%static 'resources/support.svg'%}" alt="" srcset="">
                          </div>
                         
                      </div>
                  </div>
              </a>
              
            </div>
          </div>
          <!-- <div class="row mt-3">
              <div class="col-lg-3 col-6 mt-3 text-center below-tag">
                  <img src="{%static 'resources/bank.png'%}" alt="">
                  <h6>Bank</h6>
              </div>

              <div class="col-lg-3 col-6 mt-3 text-center below-tag">
                <img src="{%static 'resources/region.png'%}" alt="">
                <h6>Regions</h6>
            </div>

            <div class="col-lg-3 col-6 mt-3 text-center below-tag">
              <img src="{%static 'resources/country.jpg'%}" alt="">
              <h6>Cpuntry</h6>
          </div>

          <div class="col-lg-3 col-6 mt-3 text-center below-tag">
            <img src="{%static 'resources/support.svg'%}" alt="">
            <h6>Support</h6>
        </div>
          </div> -->

        </div>
      {% endblock inside %}
    </div>
    
      
</div>
    
{% endblock content %}
    