{% extends 'owner/dashboard.html' %}


{% block title %}
   Update Bank
{% endblock title %}
    


{% block inside %}
<div class="row p-0 m-0 mt-3">
    <div class="mt-3 mb-3">
      <span class="breadcum">
        <a href="{%url 'owner:dashboard'%}">
            Dashboard
        </a>/
        <a href="{%url 'owner:bank'%}">
            Bank
        </a>/ Update Bank Information
        
      </span>
    </div>

    <div class="row p-0 m-0 mt-3">
        <h5>Update Bank Information</h5>
        <hr>
        <div class="p-2">
            <form action="" method="post">
                <div class="row p-0 m-0 p-2" id="login-card">
                    <div class="col-12 col-lg-12 mt-2">
                        <p class="text-secondary">Please Select Recipients*</p>
                        <select class="form-control mb-3 mt-3" name = "recipient">
                            <option value="0">
                                Select Recipients....
                            </option>
                            {% for i in recipient %}
                                <option  
                                    {% if bank.recipient.id == i.id  %}
                                        selected
                                    {% endif %}
                                    value="{{i.id}}" onchange ="addOther('{{i.first_name}} {%if i.middle_name%} {{i.middle_name}} {%endif%} {{i.last_name}}', '{{i.country.id}}')">
                                    {{i.first_name}} {%if i.middle_name%} {{i.middle_name}} {%endif%} {{i.last_name}}
                                </option>
                            {% endfor %}
                                
                        </select>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <p class="text-secondary">Account Name*</p>
                        {{form.account_name }}
                        {{form.account_name.errors}}
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <p class="text-secondary">Account Number*</p>
                        {{form.account_number }}
                        {{form.account_number.errors}}
                    </div>
                    <div class="col-12 col-lg-12 mt-2">
                        <p class="text-secondary">Bank Name*</p>
                        {{form.bank_name }}
                        {{form.bank_name.errors}}
                    </div>
                    <div class="col-6 col-lg-6 mt-2">
                        <p class="text-secondary">Country*</p>
                        {{form.country}}
                        {{form.country.errors}}
                    </div>

                    <div class="col-6 col-lg-6 mt-2">
                        <p class="text-secondary">SWIFT CODE*</p>
                        {{form.swift_code }}
                        {{form.swift_code.errors}}
                    </div>

                    {% csrf_token %}

                    <button class="btn btn-primary mt-3 w-100">
                        Update Bank Information
                    </button>
                </div>
            </form>
        </div>
       
    </div>
</div>
{% endblock inside %}
    