{% extends 'owner/dashboard.html' %}
{% load static %}

{% block title %}
SMS Settings
{% endblock title %}



{% block inside %}
<div class="row p-0 m-0 mt-3">
        
    <div class="mt-3 mb-3">
      <span class="breadcum">
        <a href="{%url 'owner:dashboard'%}">
            Dashboard
        </a>/
        SMS Settings
      </span>
    </div>


    <div class="row m-0  mt-3">
        <h5 class="p-0">
           SMS Settings
        </h5>
        <hr>
        <div class="row p-0 m-0 mt-1">
           
        </div>
    
    </div>
</div>

{% endblock inside %}
    
    