{% extends 'owner/dashboard.html' %} {% load static %} {% block title %}
Transaction Details {% endblock title %} {% block inside %}

 
<div class="row p-0 m-0 mt-3">
  <div class="mt-3 mb-3">
    <span class="breadcum">
      <a href="{%url 'owner:dashboard'%}"> Dashboard </a>/<a href="{%url 'owner:transaction'%}"> Transaction </a>/ Transaction Detail
    </span>
  </div>

  <div class="row m-0 mt-1">
    <h6 class="p-0">Transaction DETAIL</h6>
    <hr />
    <div class="row p-0 m-0 mt-2">
        <div class="d-flex justify-content-between" id = "login-card">
            <img class="my-auto" src="{%if trans.customer.profil_pic%}{{trans.customer.profil_pic.url}} {%else%} {%static 'resources/verified.png'%} {%endif%}" alt="" style="height: 50px; width: 50px; border-radius: 50%;">
            
            <div>
                <h4>
                    {{trans.customer.admin.get_full_name}}
                </h4>
                <p>
                    Total Transaction:{{trans.count_total}}
                </p>
            </div>
           
        </div>

                              
        <div class="modal-body mt-3">
            <div class="p-2"  id="login-card">
                <div class="text-center mt-2" id="login-card">
                    {% if trans.status == 'Pending' %}
                    <p class="text-warning p-0 m-0">
                        <i class="fa fa-circle-dot"></i>
                        Pending
                    </p>
                    {% endif %}

                    {% if trans.status == 'Cancelled' %}
                        <p class="text-danger p-0 m-0">
                            <i class="fa fa-circle-dot"></i>
                            Cancelled
                        </p>
                    {% endif %}

                    {% if trans.status == 'Completed' %}
                        <p class="text-success p-0 m-0">
                            <i class="fa fa-circle-dot"></i>
                            Completed
                        </p>
                    {% endif %}
                    {% if trans.status == 'Rejected' %}
                    <p class="text-danger p-0 m-0">
                        <i class="fa fa-circle-dot"></i>
                        Rejected
                    </p>
                    {% endif %}
                </div>

                <form class="mt-3" action="{%url 'owner:changeStatus' trans.id%}" method="post">
                    <h6>Update the payment status</h6>
                    <hr>
                    <select class="form-control" name="status" id="">
                    <option value="Completed"> Completed </option>
                    <option value="Pending"> Pending </option>
                    <option value="Cancelled"> Cancelled </option>
                    <option value="Rejected"> Rejected </option>
                    </select>
                    {% csrf_token %}
                    <button class="btn btn-primary mt-3 w-100">
                    Update Status
                    </button>
                </form>
            </div>
            
        
            <div class="text-center mt-3">
                <p class="badge bg-danger p-2">
                    <i class="fa fa-calendar"></i> Transaction Date: {{trans.created_at}}
                </p>
                <hr>
                <h6 class="text-primary">
                    Transfer Money to {{trans.recipient.first_name}} {%if trans.recipient.middle_name%} {{trans.recipient.middle_name}} {%endif%} {{trans.recipient.last_name}}
                </h6>
            </div>
            <hr>
            <div class="row" id="complete">
                <div class="col-12 col-lg-10  m-auto p-2 text-center">
                
                    
                    <div>
                        <div class="d-flex justify-content-between">
                            <h5>
                                Transfer Details
                            </h5>
                        
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                You Send
                            </p>

                            <b>
                                {{trans.sent}} {{trans.sending_currency.currecy_sign}}
                            </b>

                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Total Fee
                            </p>

                            <p class="text-secondary">
                                {{trans.fee}} {{trans.sending_currency.currecy_sign}}
                            </p>
                            
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Amount after converting
                            </p>

                            <p class="text-secondary">
                                {{trans.received}} {{trans.receiving_currency.currecy_sign}}
                            </p>
                            
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Conversion Rate
                            </p>

                            <p class="text-secondary">
                            {{trans.converting_rate}}
                            </p>
                            
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Other get
                            </p>

                            <b>
                                {{trans.received}} {{trans.receiving_currency.currecy_sign}}
                            </b>
                            
                        </div>
                        <h6 class="mt-2">
                            <i class="fa fa-bank"></i>
                            Bank Details
                        </h6>
                        <hr>

    
                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Name
                            </p>

                            <b>
                                Ram Prasad Yadav
                            </b>
                            
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Bank Name
                            </p>

                            <p class="text-secondary">
                                Citizen Bank Limited
                            </p>
                            
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Account Number
                            </p>

                            <p class="text-secondary">
                                0021255622111
                            </p>
                            
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">
                                Account Name
                            </p>

                            <p class="text-secondary">
                                Ram Prasad Yadav
                            </p>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
                                                                            
        </div>

        <div class="mt-3">
            <h4 class="head-para text-dark">
                Other Transaction of this customer
            </h4>
            <hr>
            
            {% for i in alltrans  %}
                <a href="{%url 'owner:transactionDetail' i.id%}">
                    <div class="transaction-div p-2" id="login-card" data-bs-toggle="modal" data-bs-target="#exampleModalEdit{{i.id}}">
                        <div class="d-flex">
                        
                            <i class="trans-icon fa fa-arrow-alt-circle-up"></i>
                            <span class="ps-2 my-auto" >
                                <h6 class="text-primary">
                                Transfer Money to {{i.recipient.first_name}} {%if i.recipient.middle_name%} {{i.recipient.middle_name}} {%endif%} {{i.recipient.last_name}}
                                </h6>
                                
                                {% if i.status == 'Pending' %}
                                    <p class="text-warning p-0 m-0">
                                        <i class="fa fa-circle-dot"></i>
                                        Pending
                                    </p>
                                {% endif %}
        
                                {% if i.status == 'Cancelled' %}
                                    <p class="text-danger p-0 m-0">
                                        <i class="fa fa-circle-dot"></i>
                                        Cancelled
                                    </p>
                                {% endif %}
        
                                {% if i.status == 'Completed' %}
                                    <p class="text-success p-0 m-0">
                                        <i class="fa fa-circle-dot"></i>
                                        Completed
                                    </p>
                                {% endif %}
                                {% if trans.status == 'Rejected' %}
                                <p class="text-danger p-0 m-0">
                                    <i class="fa fa-circle-dot"></i>
                                    Rejected
                                </p>
                                {% endif %}
        
                                <small class="text-secondary" style="font-size: 12px;">
                                    Click to view report
                                </small>
                            </span>
                            
                        
                        </div>
                        
                        <div>
                        <h6 class="text-danger">
                            - {{i.sent}} {{i.sending_currency.currecy_sign}}
                        </h6>
                        <p class="text-success">
                        
                            <b>
                                {{i.received}} {{i.receiving_currency.currecy_sign}}
                            </b>
                        </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
                
        </div>
            

    </div>
  </div>
</div>

{% endblock inside %}
