{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{user.get_full_name}} Dashboard
{% endblock title %}
    

{% block navbar %}
  
{% endblock navbar %}
  


  

{% block content %}

<div class="p-0 m-0 ">
    <!-- Side Bar -->
    <div class="p-3 side-bar pb-5 hidePhone" >
        <div class="d-flex justify-content-between">
            <h3 class="text-primary text-center text-capitalize" id="text-head">
              xRemit
            </h3>
            <p class="my-auto shortcut text-center" onclick="makesmall();">
              <i class=" ps-3 fa-solid fa-arrows-turn-to-dots"></i>
            </p>
            
        </div>
       
        <hr>
        {%url 'agent:dashboard' as dashboardaa%}
        <a href="{{dashboardaa}}">
            <div class="mt-3 p-2 
            {% if request.path == dashboardaa %}
              activedb
            {% endif %}
            side-item" onclick="showLoader()">
            <div class="text-center activedbs">
              <i class="fa fa-dashboard mt-2"></i>  
            </div>
              
            <span class="ms-3 my-auto text-primary text-bold sidebar-link sidebar-link">
              Dashboard
            </span>
              
            </div>
          </a>
        

          {%url 'agent:currency' as currencyaa%}
          <a href="{{currencyaa}}">
            <div class="mt-2 p-2  {% if request.path == currencyaa %}
            activedb
{% endif %} side-item" onclick="showLoader()">
                <div class="text-center">
                  <i class="fa fa-money-bills mt-2"></i>   
                </div>
                <span class="ms-3 my-auto text-primary text-bold sidebar-link">
                  Currency
                </span> 
              </div>
          </a>

      
          {%url 'agent:profile' as profileaa%}
          <a href="{{profileaa}}">
              <div class="mt-2 p-2 side-item {% if request.path == profileaa %}
              activedb
{% endif %}" onclick="showLoader()">
                <div class="text-center">
                  <i class="fa fa-user mt-2"></i>  
                </div>
                <span class="ms-3 my-auto text-primary text-bold sidebar-link">
                  Profile
                </span>
              </div>
          </a>
          
          <a href="{%url 'homepage:logout'%}">
            <div class="mt-2 p-2 side-item" onclick="showLoader()">
              <div class="text-center">
                <i class="fa fa-sign-out-alt mt-2"></i>
              </div>
              <span class="ms-3 my-auto text-primary text-bold sidebar-link">
                Logout
              </span>
            </div>
          </a>
       
     
    </div>
   
    <!-- SideBar -->
    <div class="whole-content pb-5 mb-5">

      <div class=" d-flex justify-content-between mt-3 p-2">

        <div class="login-flex d-flex my-auto" style="width: 50%;">
         <i class="fa fa-magnifying-glass my-auto p-2"></i>
         <input type="text" name="email" class="form-control" id="searchBtn"  placeholder="Ex: Transaction, Customer, Agent, Currency and regions" required id="">
        </div>
        <div class="my-auto">
          <i class="far fa-bell p-2 menu-icon"></i>

           <i class="fa fa-cog p-2 menu-icon"></i>
           
           <a href="{%url 'homepage:logout'%}">
              <i class="fa fa-sign-out p-2 menu-icon"></i>
           </a>
           <a class="showphone" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="fa fa-bars p-2 menu-icon"></i>
          </a>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h3 class="text-primary mt-3 text-center text-capitalize">
                xRemit
              </h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <a href="{%url 'customer:dashboard'%}">
                <div class="mt-3 p-2  activedb side-item">
                  <div class="text-center activedbs">
                    <i class="fa fa-dashboard mt-2"></i>  
                  </div>
                  
                  <span class="ms-3 my-auto text-primary text-bold">
                    Dashboard
                  </span>
                  
                </div>
              </a>
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa fa-users mt-2"></i>   
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Recipients
                </span> 
              </div>

              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa fa-money-bills mt-2"></i>   
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Currency
                </span> 
              </div>
            
              <a href="{%url 'customer:transaction'%}">
                  <div class="mt-2 p-2 side-item">
                    <div class="text-center">
                      <i class="fa-solid fa-money-bill-transfer mt-2"></i>
                    </div>
                    <span class="ms-3 my-auto text-primary text-bold">
                      Transaction
                    </span>
                  </div>
              </a>
             

      
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa-solid fa-money-bill-wave  mt-2"></i>  
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  Send Money
                </span>
              </div>
    
              <div class="mt-2 p-2 side-item">
                <div class="text-center">
                  <i class="fa-solid fa-lock  mt-2"></i>  
                </div>
                <span class="ms-3 my-auto text-primary text-bold">
                  2FA Security
                </span>
              </div>
              
              <a href="{%url 'customer:profile'%}">
                  <div class="mt-2 p-2 side-item">
                    <div class="text-center">
                      <i class="fa fa-user mt-2"></i>  
                    </div>
                    <span class="ms-3 my-auto text-primary text-bold">
                      Profile
                    </span>
                  </div>
              </a>

              <a href="{%url 'homepage:logout'%}">
                <div class="mt-2 p-2 side-item">
                  <div class="text-center">
                    <i class="fa fa-sign-out-alt mt-2"></i>
                  </div>
                  <span class="ms-3 my-auto text-primary text-bold">
                    Logout
                  </span>
                </div>
              </a>
            </div>
          </div>
           
        </div>
      </div>
      {% block inside %}

        <div class="row m-0 mt-3">
         
          <div class="mt-3 m-0">
            <span class="breadcum">
              Dashboard 
            </span>
          </div>
          
        
          <div class="row mt-3">
            <h5>Currency....</h5>
            {% for i in currency  %}
            <div class="col-lg-4 col-12 mt-3">
    
                <div class="currency-box my-auto text-center">
                  <div class="p-2">
                    {% if i.country.flag_img %}
                    <img src="{{i.country.flag_img.url}}" alt="" height="30px;" width="auto">
                    {% endif %}
                      
                    <div class="d-flex mt-2 justify-content-between">
                      <h1 class="text-dark">{{i.currecy_sign}}</h1>
                      <h1 class="text-info">
                        {{i.currecy_rate}}
                      </h1>
                    </div>
                  </div>
                 
                  <div class="currencyBelow">
                    <p>Conversion Rate {{i.conversion_rate}}</p>
                  </div>
                 
                </div>
            </div>
               
            {% endfor %}
              
          </div>
         
    
        </div>
      {% endblock inside %}
    </div>
    
      
</div>

  


{% endblock content %}
    