{% extends 'owner/dashboard.html' %}


{% block title %}
    Site Settings
{% endblock title %}



{% block inside %}
<div class="row p-0 m-0 mt-3">
         
    <div> 
      <div class="topBox mt-3 p-2">
        <h4 class="text-primary text-capitalize">
            <i class="fa fa-globe"></i> Site Setting
        </h4>
        <small>Manipulate your site setting from here...</small>
      </div>
    </div>
    
    <div class="mt-3 mb-3">
      <span class="breadcum">
        <a href="{%url 'owner:dashboard'%}">
            Dashboard
        </a>/
        
        Site Settings
  
      </span>
    </div>


    <div class="row m-0 p-0 mt-3">
       
        <div class="col-6 col-lg-4 mt-2">
      
            <div class="dashboard-box" data-bs-toggle="modal" data-bs-target="#exampleModalLoginSignUp">
                <div class="my-auto  p-2">
                    <i class="fa fa-sign-in-alt text-primary" style="font-size: 17px; "></i>

                </div>
                <div class="my-auto p-1">
                    <h5 class="text-center">Login and sign up page</h5>
                </div>
            
                
            </div>


            <!-- Login signup information add model -->
            <div class="modal fade" id="exampleModalLoginSignUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog model-md modal-dialog-centered">
                    <div class="modal-content">
                    
                        <div class="modal-body">
                            <h4>Please Update your login page information from here</h4>
                            <hr>
                            <form action="{%url 'owner:addLoginData'%}" method="post" enctype="multipart/form-data">
                                {{loginForm}}
                                {% if login.image %}
                                    <a href="{{login.image.url}}" target="_blank">
                                        <p class="mt-2">
                                            <i class="fa fa-image"></i>
                                            View Image
                                        </p>
                                    </a>
                                {% endif %}
                               
                                {% csrf_token %}
                                <button class="btn btn-primary mt-2" type="submit">
                                    Update Login Information
                                </button>
                            </form>
                            <hr>

                            <h4>Please Update your sign up information from here</h4>
                            <hr>
                            <form action="{%url 'owner:addSignData'%}" method="post" enctype="multipart/form-data">
                                {{signForm}}
                            
                              
                                <div class="d-flex justify-content-between">
                                    {% if signup.image %}
                                        <a href="{{signup.image.url}}" target="_blank">
                                            <p class="mt-2">
                                                <i class="fa fa-image"></i>
                                                View image
                                            </p>
                                        </a>
                                    {% endif %}

                                    {% if signup.video %}
                                        <a href="{{signup.video.url}}" target="_blank">
                                            <p class="mt-2">
                                                <i class="fa fa-play"></i>
                                                View Video
                                            </p>
                                        </a>
                                    {% endif %}
                                </div>
                               
                                
                                
                                    
                                    
                               
                                {% csrf_token %}
                                <button class="btn btn-primary mt-2" type="submit">
                                    Update SignUp Information
                                </button>
                            </form>
                            <div class="text-end mt-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        
                        </div>
                    
                  </div>
                </div>
            </div>
            
        </div>

        <div class="col-6 col-lg-4 mt-2">
            <a href="{%url 'owner:siteInfo'%}">
                <div class="dashboard-box">
                    <div class="my-auto p-2">
                        <i class="fa fa-server text-warning" style="font-size: 17px; "></i>

                    </div>
                    <div class="my-auto p-1">
                        <h6 class="text-center">
                            Site Information
                        </h6>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-6 col-lg-4 mt-2">
            <a href="{%url 'owner:footer'%}">
                <div class="dashboard-box">
                    <div class="my-auto p-2">
                        <i class="fa fa-f text-danger" style="font-size: 17px; "></i>
                    </div>
                    <div class="my-auto p-1">
                        <h6 class="text-center">
                            Footer Section
                        </h6>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-6 col-lg-4 mt-2">
            <a href="{%url 'owner:policy'%}">
                <div class="dashboard-box">
                    <div class="my-auto p-2">
                        <i class="fa fa-p text-info" style="font-size: 17px; "></i>
                    </div>
                    <div class="my-auto p-1">
                        <h6 class="text-center">
                            Policy Page and terms
                        </h6>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-6 col-lg-4 mt-2">
            <a href="{%url 'owner:socialLink'%}">
                <div class="dashboard-box">
                    <div class="my-auto  p-2">
                        <i class="fa-brands fa-facebook-f text-dark" style="font-size: 17px; "></i>
                    </div>
                    <div class="my-auto p-1">
                        <h6 class="text-center">
                            Social link and icon
                        </h6>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-6 col-lg-4 mt-2">
            <a href="{%url 'owner:seo'%}">
                <div class="dashboard-box">
                    <div class="my-auto  p-2">
                        <i class="fa fa-section text-success" style="font-size: 17px; "></i>
                    </div>
                    <div class="my-auto p-1">
                        <h6 class="text-center">
                            SEO Optimization
                        </h6>
                    </div>
                </div>
            </a>
            
        </div>
    </div>

    <div class="row m-0 p-0 mt-5">
        <div class="col-lg-12 col-12">
            <div id="login-card" class="p-1 pb-4">
                <div class="row p-0 m-0 mt-2">
                    <div class="col-6">
                        <p class="text-primary text-center">
                            Your Current Light Logo
                        </p>
                        <hr>
                        {% if site.light_logo %}
                          
                            <div class="text-center">
                                <img class="logo_show" src="{{site.light_logo.url}}" alt="{{site.title}}">
                            </div>
                            {%else%}
                            <p class="text-primary my-auto text-center">
                                <i class="fa fa-image"></i> IMAGE NOT AVAILABLE
                            </p>
                        {% endif %}
                    </div>
    
                    <div class="col-6">
                        <p class="text-primary text-center">
                            Your Current Dark Logo
                        </p>
                        <hr>
                        {% if site.dark_logo %}
                         
                            <div class="text-center">
                                <img class="logo_show" src="{{site.dark_logo.url}}" alt="{{site.title}}">
                            </div>
                            {%else%}
                            <p class="text-primary my-auto text-center">
                                <i class="fa fa-image"></i> IMAGE NOT AVAILABLE
                            </p>
                        {% endif %}
                    </div>
    
                    <div class="col-12">
                        <hr>
                        <p class="text-primary text-center">
                            Your Current Favicon
                        </p>
                        <hr>
                        {% if site.favicon %}
                          
                            <div class="text-center">
                                <img class="logo_show" src="{{site.favicon.url}}" alt="{{site.title}}" height="auto;" width="30%">
                            </div>
                            {%else%}
                            <p class="text-primary my-auto text-center">
                                <i class="fa fa-image"></i> IMAGE NOT AVAILABLE
                            </p>
                        {% endif %}
                    </div>
                </div>
               
                    
                <h5 class="m-2 text-center">USEFUL LINK</h5>
                <hr>
                <div class="row p-0 m-0 mt-2">
                    <div class="col-12 col-lg-6 mt-2">
                        <a href="">
                            <div class="my-auto bg-warning text-light p-3 text-center" >
                                <i class="fa fa-money-bill text-light" style="font-size: 17px; "></i>
                                <h6 class="text-center">
                                   CURRENCY SETTING
                                </h6>
                                
                            </div>
                        </a> 
                    </div>
    
                    <div class="col-12 col-lg-6 mt-2">
                        <a href="">
                            <div class="my-auto bg-danger text-light p-3 text-center" >
                                <i class="fa fa-envelope-open text-light" style="font-size: 17px; "></i>
                                <h6 class="text-center">
                                    EMAIL SETTING
                                </h6>
                                
                            </div>
                        </a> 
                    </div>
    
                    <div class="col-12 col-lg-6 mt-2">
                        <a href="">
                            <div class="my-auto bg-primary text-light p-3 text-center" >
                                <i class="fa fa-timeline text-light" style="font-size: 17px; "></i>
                                <h6 class="text-center">
                                    SMS SETTING
                                </h6>
                                
                            </div>
                        </a> 
                    </div>
    
                    <div class="col-12 col-lg-6 mt-2">
                        <a href="">
                            <div class="my-auto bg-info text-light p-3 text-center" >
                                <i class="fa fa-timeline text-light" style="font-size: 17px; "></i>
                                <h6 class="text-center">
                                    TIME ZONE SETTING
                                </h6>
                                
                            </div>
                        </a> 
                    </div>
                </div>
    
            </div>
        </div>
        <div class="col-lg-12 col-12 mt-4">
            <div id="login-card" class="p-1 pb-4">
                <h5 class="text-center m-2">UPDATE SITE INFORMATION</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row p-0 m-0">
                        <div class="col-12">
                            <p class="p-0 m-0 mt-1">Enter the site title</p>
                            <small class="text-danger">The title will change the tab title of the page and name of the page</small>
                            {{form.title}}
                            {{form.title.errors}}
                        </div>
                        <div class="col-12">
                            <p class="p-0 m-0 mt-1">Enter the site sub title</p>
                            <small class="text-danger">The sub title will change the purpose of the site</small>
                            {{form.subtitle}}
                            {{form.subtitle.errors}}
                        </div>
    
                        <div class="col-6">
                            <p class="p-0 m-0 mt-1">Upload the Light Logo of the site</p>
                            {{form.light_logo}}
                            {{form.light_logo.errors}}
                        </div>
    
                        <div class="col-6">
                            <p class="p-0 m-0 mt-1">Upload the Dark Logo of the site</p>
                            {{form.dark_logo}}
                            {{form.dark_logo.errors}}
                        </div>
                        <div class="col-12">
                            <p class="p-0 m-0 mt-1">Upload the Favicon of the site</p>
                            <small class="text-danger">The favicon will change the tab icon</small>
                            {{form.favicon}}
                            {{form.favicon.errors}}
                        </div>
    
                        <div class="col-12">
                            <p class="p-0 m-0 mt-1">Change the Email of the site</p>
                            <small>This will change entire email of the site</small>
                            {{form.email}}
                            {{form.email.errors}}
                        </div>
    
                        <div class="col-lg-6">
                            <p class="p-0 m-0 mt-1">Number One</p>
                            {{form.number_one}}
                            {{form.number_one.errors}}
                        </div>
    
                        <div class="col-lg-6">
                            <p class="p-0 m-0 mt-1">Number Two</p>
                            {{form.number_two}}
                            {{form.number_two.errors}}
                        </div>
      
    
                        <div class="col-12">
                            <p>Address of the site</p>
                            {{form.address }}
                            {{form.address.errors}}
                        </div>
                        
                        
    
                        {% csrf_token %}
                        <button class="btn btn-primary mt-3" type="submit">
                            Update Site Information
                        </button>
    
                </form>
            </div>
        </div>
    </div>  
   
  
   
</div>

{% endblock inside %}
    
    