{% extends 'homepage/index.html' %}


{% block title %}
    Features {{site.title}}
{% endblock title %}
    
{% block inside %}
<div class="row m-0" id="topbarpage">
    <div class="d-flex my-auto">
        
        <h2 class="head-para">
            <a href="{%url 'homepage:homepage'%}">
                Homepage 
            </a>
            
        </h2>
        
        <p class="head-para">
            <i class="fa fa-arrow-alt-circle-right"></i>
        </p>
        <h2 class="head-para">
            Features
        </h2>
       
    </div>
   
</div>
<div class="row bg-white m-0 pt-5 pb-5">

    {% for j in feature_b %}       
        <div class="col-12 col-lg-3 mt-2">
            <a href="{%url 'homepage:featureDetail' j.id j.name %}">
                <div class="features-box mt-3 text-center">
                    <img src="{{j.image.url}}" alt="" style="height: 80px; width: auto;">
                    <h5 class="my-auto text-dark mt-2">
                        {{j.name}}
                    </h5>
                    <small class="text-dark mt-2">
                        {{j.feature|truncatewords:10|safe}}
                    </small>
                    
                </div>
            </a>
            
        </div>
    {% endfor %}
        
</div>
{% endblock inside %}
    