{% extends 'customer/dashboard.html' %}
{% load static %}

{% block title %}
    TWO FACTOR AUTHENTICATION
{% endblock title %}
    


{% block inside %}
<div class="row p-0 m-0 mt-3">
    <div class="mt-3 mb-3">
      <span class="breadcum">
        <a href="{%url 'customer:dashboard'%}">
            Dashboard
        </a>/
        Two Factor Authentication
      </span>
    </div>

    <div class="row p-0 m-0 mt-3">
       <h5>
            Enable Two Factor Authentication
       </h5>
       <hr>
       <div class="col-12 col-lg-6 m-auto">
            <img src="{%static 'resources/2fa.png'%}" alt="" style="height: auto; width: 100%;">
       </div>
       <h5 class="mt-3 text-center">Add Extra Level of Security</h5>
       <small class="text-center">By enabeling Two Factor Authentication you secure your account.</small>
       <div class="col-12 col-lg-9 m-auto ">
            <div class="row p-0 m-0">
                <div class="col-12 col-lg-6 mt-3 ">
                    <div id="login-card" class="p-2">
                        <h3 class="text-primary text-center">
                            Google Gmail OPT
                        </h3>
                        <div class="d-flex justify-content-between p-1 mt-2">
                            <img src="{%static 'resources/emaillock.png'%}" alt="" class="my-auto" height="100px" width="100px">
                            <small class="my-auto">
                                By enabling this two factor authenctication you will get an OTP on your email in every login
                            </small>
                        </div>
                        {% if user.customer.security == 'email' or user.customer.security == 'both' %}
                        <button class="btn btn-success w-100 mb-2 mt-2" disabled>
                            <i class="fa fa-lock"></i>
                            Enabled
                        </button>
                        <p class="text-center d-flex justify-content-between">
                            <a href="{%url 'customer:disablegmail'%}" class="text-center text-secondary">
                                <i class="fa fa-lock-open"></i> Disable gmail security
                            </a>
                            <span class="badge bg-danger my-auto">
                                Not recommended
                            </span>
                        </p>
                        {%else%}

                        <a  data-bs-toggle="modal" data-bs-target="#exampleModalEmail" onclick="sendOTPEMAIl();"> 
                            <button class="btn btn-primary w-100 mb-2 mt-2">
                                <i class="fa fa-lock"></i>
                                Enable
                            </button>
                            
                        </a>
                        <div class="modal fade" id="exampleModalEmail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                
                                    <div class="modal-body">
                                       
                                        <h5 class="text-dark"> Enter OPT code sent in your email. </h5>
                                        <small>This is required for the verification of your email</small>
                                        <form action="{%url 'customer:gmailOtp'%}"  method="post">
                                            <p class="text-danger" id="erroeinfo"></p>
                                            <input type="number" name="otp" id="" class="form-control" placeholder="4 DIGIT CODE" required onkeyup="checkOTP(this);">
                                            <small>
                                                Enter the code you received on your email. 
                                                <span class="text-danger">
                                                    <a href="http://">
                                                        Didn't get the code?
                                                    </a>
                                                    
                                                </span>
                                            </small>
                                            {% csrf_token %}
                                    
                                            <button type="submit" class="btn btn-danger" disabled id="emailBtn">
                                                VERIFY
                                            </button>
                                           
                                        </form>                                       

                                        <div class="text-end mt-2">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <!-- Delete URL -->
                                         
                                            
                                        </div>
                                    
                                    </div>
                                
                            </div>
                            </div>
                        </div>
                        {%endif%}
                      
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3 ">
                    <div id="login-card" class="p-2">
                        <h3 class="text-success text-center">
                            Text Message (SMS)
                        </h3>
                        <div class="d-flex justify-content-between p-1 mt-2">
                            <img src="{%static 'resources/phonelock.jpg'%}" alt="" class="my-auto" height="100px" width="100px">
                            <small class="my-auto">
                                By enabling this two factor authenctication you will get an OTP on your phone in every login
                            </small>
                           
                        </div>
                        
                        {% if user.customer.security == 'sms' or user.customer.security == 'both' %}
                        <button class="btn btn-success w-100 mb-2 mt-2" disabled>
                            <i class="fa fa-lock"></i>
                            Enabled
                        </button>
                        <p class="text-center d-flex justify-content-between">
                            <a href="{%url 'customer:disablesms'%}" class="text-center text-secondary">
                                <i class="fa fa-lock-open"></i> Disable sms security
                            </a>
                            <span class="badge bg-danger my-auto">
                                Not recommended
                            </span>
                        </p>
                        {%else%}
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <button class="btn btn-success w-100 mb-2 mt-2">
                                    <i class="fa fa-lock"></i>
                                    Enable
                                </button>
                            </a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                    
                                        <div class="modal-body">
                                           
                                            <h5 class="text-dark"> Enter OPT code sent in your mobile </h5>
                                            <small>This is required for the verification of your mobile</small>
                                            <form action="" method="post">
                                                <input type="number" name="otp" id="" class="form-control" placeholder="4 DIGIT CODE" required>
                                                <small>
                                                    Enter the code you received on your mobile phone. 
                                                    <span class="text-danger">
                                                        <a href="http://">
                                                            Didn't get the code?
                                                        </a>
                                                        
                                                    </span>
                                                </small>
                                                {% csrf_token %}
                                                <br>
                                                <button type="submit" class="btn btn-primary mt-3">
                                                    Verify
                                                </button>
                                            </form>     
                                            <a href="{%url 'customer:phoneOtp'%}" >
                                                <button type="button" class="btn btn-danger">
                                                    VERIFY
                                                </button>
                                            </a>

                                            <div class="text-end mt-2">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <!-- Delete URL -->
                                             
                                                
                                            </div>
                                        
                                        </div>
                                    
                                </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                    
                </div>
            </div>
       </div>
    </div>
</div>

<script>
    function addOther(name, country){
        console.log(name)
        console.log(country)
        $('#id_account_name').val(name)
        $('#id_country').val(country)
    }
    otp = 0
    function sendOTPEMAIl(){
        console.log('Sending OTP')
        $.ajax({
            // type: 'POST',
            url: '{%url "customer:sendOTPgmail"%}', // Replace with the actual URL of your view
           
            success: function(response) { 
            // console.log(response.code)
            otp = response.code
            }
        })
    }
    function checkOTP(elem){
        console.log(elem.value)
        if (elem.value == otp){
            document.getElementById('emailBtn').disabled  = false;
            document.getElementById('erroeinfo').innerText = 'Code match'
        }else{
            document.getElementById('erroeinfo').innerText = 'Code Didn\'t match'
        }
    }
</script>
{% endblock inside %}
    